@font-face {
    font-family: "Azov";
    src: url(../fonts/Azov.ttf)
}

* {
    font-family: Azov;
    text-align: center;
    user-select: none;
    margin: 0;
}

body {
    background: url(../img/bg.jpg);
    margin: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    background: url(../img/bg_input.jpg);
    background-size: 110px auto;
    padding: 10px;
}

.input {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;

}

#input_box {
    font-size: 30px;
    height: 40px;
    display: inline;
}

#input_btn,
#input_btn2 {
    font-size: 20px;
    outline: none;
    background-color: rgb(255, 48, 48);
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#input_btn2{
    background-color: rgb(255, 204, 0);
}

#input_btn:active {
    background: rgb(169, 1, 1);
}

#input_btn2:active {
    background-color: rgb(186, 149, 0);
}

#words {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.word__btn {
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 211, 153);
    border: none;
    height: 30px;
    width: 30px;
}

.word__btn:active {
    background: rgb(207, 155, 88);
}

.word__btn:disabled {
    opacity: 0;
}

.unsolved_word {
    width: 250px;
    margin-top: 10px;
    margin-right: 20px;
    height: 50px;
}

.unsolved_word>span {
    display: block;
}

@media (max-width: 1000px) {
    .container {
        width: 100vw;
    }

    .unsolved_word {
        margin-right: 0;
    }
}

@media (max-width: 320px) {
    .container {
        width: 100vw;
    }

    .input {
        margin: 0;
    }
}

.x,.arrow{
    height: 15px;
    margin: auto;
}